Source: python-servicenow
Section: net
Priority: extra
Maintainer: Juliano Martinez <juliano.martinez@locaweb.com.br>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>

Package: python-servicenow
Architecture: any
X-Python-Version: >= 2.6
Depends: ${shlibs:Depends}, ${misc:Depends}, python-requests
Description: Python Library to interact and manage the ServiceNow database
 Python Library to interact and manage the ServiceNow database
